<div id="<%= dom_id app_user %>">
  <p>
    <strong>Name:</strong>
    <%= app_user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= app_user.email %>
  </p>

  <p>
    <strong>Preferences:</strong>
    <%= app_user.preferences %>
  </p>

</div>
